{% extends 'common/base.html' %}

{% block content %}
<form action="" method="">
    <div>
        <input type="text" name="keyword">
        <button type="submit">검색</button>
    </div>
</form>

<ul>
    {% if videos %}
        {% for video in videos %}
            <li>
                <!--<img width=240 height=180 src="{{ video.thumbnail_url }}" alt="">-->
                <iframe width=240 height=180 src="http://youtube.com/embed/{{ video.youtube_id }}" frameborder="0"></iframe>
                <p><a href="https://www.youtube.com/watch?v={{ video.youtube_id }}">{{ video.title }}</a></p>
                <p>{{ video.description }}</p>
                <p>{{ video.publishedAt }}</p>
            </li>
        {% endfor %}
    {% endif %}
</ul>

<div>
    {% if prev_page_token %}
        <form action="">
            <input type="hidden" name="keyword" value="{{ keyword }}">
            <input type="hidden" name="page_token" value="{{ prev_page_token }}">
            <button type="submit">Prev</button>
        </form>
    {% endif %}

    {% if next_page_token %}
        <form action="">
            <input type="hidden" name="keyword" value="{{ keyword }}">
            <input type="hidden" name="page_token" value="{{ next_page_token }}">
            <button type="submit">Next</button>
        </form>
    {% endif %}
</div>
{% endblock %}