{% extends 'common/base.html' %}

{% block content %}
<h1>Instagram</h1>

{% if post_list %}
    {% for post in post_list %}
        {{ post.id }} | {{ post.author }}<br>
        {{ post.content | linebreaksbr | truncatechars:100}}<br>
        {{ post.created_date }}<br>
        <!--<img src="{{ MEDIA_URL }} / {{ post.photo }}"><br>-->
        <!--setting.py에서 '/media/'로 설정했기에 '/'가 필요없어짐-->
        <a href="{% url 'post:post_detail' post_id=post.id %}"><img src="{{ MEDIA_URL }}{{ post.photo }}"></a><br>
        <hr>

        {% if post.comment_set %}
            {% for comment in post.comment_set.all %}
                {{ comment.content }}
                {{ comment.created_date }}<br>
            {% endfor %}
        {% else %}
            <p>No Comment</p>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No Post List</p>
{% endif %}

{# 각 post에 연결된 Comment object list를 출력 #}

{% endblock %}
