<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Instagram</h1>

{% if post_list %}
    {% for post in post_list %}
        {{ post.id }} | {{ post.author }}<br>
        {{ post.content | linebreaksbr }}<br>
        {{ post.created_date }}<br>
        <!--<img src="{{ MEDIA_URL }} / {{ post.photo }}"><br>-->
        <!--setting.py에서 '/media/'로 설정했기에 '/'가 필요없어짐-->
        <img src="{{ MEDIA_URL }}{{ post.photo }}"><br>
    <hr>
    {% endfor %}
{% else %}
    <p>No Post List</p>
{% endif %}
</body>
</html>