{% extends 'member/base.html' %}

{% block subtitle %}Log In{% endblock %}

{% block content %}

<!--html파일에서 POST요청을 보내기 위해-->
<!--form을 정의하고, input 요소 2개의 name을-->
<!--username, password로 설정하고ㅗ-->
<!--button type 'submit'을 실행-->
<form action="" method="POST">{% csrf_token %}
    <fieldset>
        <legend>ID/PW</legend>

        {% for field in forms %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        <button type="submit">login</button>
    </fieldset>
</form>
{% endblock %}